.homebody {
    background-color: black;
}

.registerform {
    color: white;
    padding-left: 10%;
    padding-right: 50%;
    padding-top: 10%;
}

.registerhead {
    color: white;
    padding-left: 5%;
    padding-top: 3%;
}