.homebody {
    background-color: black;
}

.topbanner {
    margin-top: 57px;
    padding-left: 1.5%;
    padding-right: 2%;
    color: white;
    font-family: 'Shrikhand', cursive;
}

.topbanner small {
    color: 
}

.webcontent {
    padding-left: 10px;
    padding-top: 20px;
    color: black;
}

.black-background {background-color:darkgray;}

.white {color:#ffffff;}

.well {
    margin-left: 30px;
    margin-right: 30px;
    /*background-image:  linear-gradient(to bottom,#585858 0,#000000 100%)*/
}